<!--Footer-->
<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-4 amet-sed">
				<h4> Contact us</h4>
				<ul class="social">
					
					<li class="mail"><a href="mailto:askthecto@smithtechnologygroup.net"><i> </i> Requests? Tips? Beef? </a></li>
					<li><a href="http://www.smithtechnologygroup.net/"> <i class="fa fa-link"></i> STG Website </a></li>
				</ul>
				</div>
				<div class="col-md-4 amet-sed amet-medium">
				
				            <a class="twitter-timeline"  href="https://twitter.com/AskTheCTO" data-widget-id="617014410666643457">Tweets by @AskTheCTO</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
				</div>
				<div class="col-md-4 amet-sed ">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<!--<li><a href="#"><span> </span> </a></li>-->
					<li class="twitter"><a href="https://twitter.com/askthecto"><span></span></a></li>
					<!--<li class="rss"><a href="#"><span> </span> </a></li>
					<li class="print"><a href="#"><span> </span> </a></li>-->
				</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
				<p class="footer-class d89">© 2015 {{site.title}} | <a href="http://w3layouts.com/" class="d89" target="_blank">W3layouts</a> | <a class="d89" href="http://www.d89.in">design 89</a> </p>
		</div>
	</div>
	<!--Footer-->