<!--Sidebar-->
			<div class="col-md-3 categories-grid">
				<div class="grid-categories">
					<h4>CATEGORIES</h4>
					<ul class="popular ">
						<li><a href="#"><i> </i>Contrary to popular belief</a></li>
						<li><a href="#"><i> </i>There are many variation</a></li>
						<li><a href="#"><i> </i>Lorem Ipsum is simply</a></li>
						<li><a href="#"><i> </i>Sed ut perspiciatis unde</a></li>
						<li><a href="#"><i> </i>Nemo enim ipsam volume</a></li>
						<li><a href="#"><i> </i>At vero eos et accusamus</a></li>
						<li><a href="#"><i> </i>Contrary to popular belief</a></li>
						<li><a href="#"><i> </i>There are many variation</a></li>
					</ul>
				</div>
				<div class="grid-categories">
					<h4>ACHIVEMENTS</h4>
					<ul class="popular popular-in">
						<li><a href="#"><i> </i>MAY 2014</a></li>
						<li><a href="#"><i> </i>SEP 2012</a></li>
						<li><a href="#"><i> </i>JANUARY 2011</a></li>
						<li><a href="#"><i> </i>FEB 2010</a></li>
						<li><a href="#"><i> </i>NOV 2009</a></li>
					</ul>
				</div>
			</div>
			<!--Sidebar-->