---
layout: default
---	
	<div class="blog">
			<div class="col-md-12">
				<div class="blog-grid-in text-justify">		
							<img class="img-responsive " src="{{ page.image }}" alt="{{ page.title }} - image" />
					<div class="blog-top">
						<div class="blog-left">
							<b>{{ page.date | date: "%d" }}</b>
							<span>{{ page.date | date: "%b" }}</span>
						</div>
						<div class="top-blog">
							<a class="fast" href="{{ page.url }}">{{page.title}} </a>
							<br /><br />
							<p class="to-blog">{{ content }}</p> 
							
						</div>
						<div class="clearfix"> </div>
					</div>
					</div>
					

					<!-- related posts -->
<div class=" single-profile">
				<h4> RELATED POSTS</h4>
				<div class="single-left ">	
 {% for post in site.related_posts limit:4 %}				
					<div class="col-md-3 post-top">
					<a href="{{post.url}}"><img class="img-responsive " src="{{post.image}}" alt="{{post.title}} - image">
						<h6>{{post.title}}</h6></a>
					</div>
					 {% endfor %}
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- related-->
			
			<!--DisQus -->
			<hr />
<div class="leave-comment">
				<h3>COMMENTS</h3>
			{% include disqus.html %}
		</div>		
<!--DisQus -->		
				</div>	

			<div class="clearfix"> </div>
			
		</div>	